<form class="nav-tab searchTab" action="/search" method="get">
  <button type="button" class="selectBoxBtn" id="searchType">Tümü</button>
  <ul class="selectBoxList" id="searchTypeSelectBox">
    <li class="selectBox-item">
      <label for="searchTypeAll">
        <input type="radio" name="searchType" value="all" id="searchTypeAll" />
        <i class="icon fa-duotone fa-solid fa-list"></i> Tümü
      </label>
    </li>

    <li class="selectBox-item">
      <label for="searchTypeTitle">
        <input
          type="radio"
          name="searchType"
          value="title"
          id="searchTypeTitle"
        />
        <i class="icon fa-duotone fa-solid fa-heading"></i> Başlık
      </label>
    </li>
    <li class="selectBox-item">
      <label for="searchTypeAuthor">
        <input
          type="radio"
          name="searchType"
          value="author"
          id="searchTypeAuthor"
        />
        <i class="icon fa-duotone fa-solid fa-user"></i> Yazar
      </label>
    </li>
    <li class="selectBox-item">
      <label for="searchTypeText">
        <input
          type="radio"
          name="searchType"
          value="text"
          id="searchTypeText"
        />
        <i class="icon fa-duotone fa-light fa-quote-left"></i> Metin
      </label>
    </li>
    <li class="selectBox-item">
      <label for="searchTypeSubjects">
        <input
          type="radio"
          name="searchType"
          value="subjects"
          id="searchTypeSubjects"
        />
        <i class="icon fa-duotone fa-solid fa-objects-column"></i> Konular
      </label>
    </li>
  </ul>

  <input type="text" name="searchValue" id="searchInput" placeholder="Search" />
  <button class="searchBtn"><i class="icon fa fa-search"></i></button>
</form>
<form class="nav-tab filterTab" action="/search" method="get">
  <i class="icon fa fa-globe"></i>
  <select name="searchLanguage" id="searchLanguage">
    <option value="">Lang</option>
  </select>
</form>
<div class="nav-tab dateTab">
  <div class="nav-tab-item">
    <i class="icon far fa-clock"></i>
    <span id="time"> 09:00 AM </span>
  </div>
  <div class="nav-tab-item">
    <i class="icon fa fa-calendar-days"></i>
    <span id="date">4-Mar-2023</span>
  </div>
</div>
<div class="nav-tab userTab">
  <div class="nav-tab-item">
    <img src="public/images/user.jpg" alt="anonim" width="30px" />
    <span id="accountName">Anonim</span>
  </div>
</div>
