<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Book Shelf</title>

    <link
      rel="shortcut icon"
      href="public/images/favicon-2.png"
      type="image/x-icon"
    />

    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.7.2/css/all.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="public/css/reset.css" />
    <link rel="stylesheet" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/home.module.css" />
    <link rel="stylesheet" href="public/css/partials/aside.css" />
    <link rel="stylesheet" href="public/css/partials/top-navbar.css" />
  </head>
  <body>
    <div class="app-wrapper">
      <aside class="app-sidebar"><%- include('partials/aside') %></aside>
      <section class="app-content">
        <div class="app-main-navbar"><%- include('partials/top-navbar') %></div>
        <div class="app-main-area">
          <div class="d-flex-row area-wrapper">
            <div class="area-quote">
              <h3 class="quote-header">Bugünün Alıntıları</h3>
              <q class="quote-text"
                >Kitaplarda korsanların tüm ganimetlerinden daha fazla hazine
                vardır. Define Adası.</q
              >
              <p class="quote-author">- Walt Disney</p>
            </div>
            <div class="area-arrival">
              <h3 class="arrival-header">Önerilen Kitaplar</h3>
              <ul class="arrival-list" id="arrivalList">
                <li class="arrival-list-item">
                  <img
                    src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                    alt="9780735211292"
                  />
                </li>
                <li class="arrival-list-item">
                  <img
                    src="https://storage.googleapis.com/du-prd/books/images/9780735211292.jpg"
                    alt="9780735211292"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="public/js/main.js"></script>
    <script src="public/js/home.js"></script>
  </body>
</html>
