body {
  background-image: url(../images/background.jpg);
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 35px 0px 35px;
}
.app-wrapper {
  background-color: white;
  display: flex;
  border-radius: 8px;
}
.app-sidebar {
  width: 310px;
  height: 100vh;
  padding: 38px 66px;
}
.area-wrapper {
  display: flex;
  gap: 44px;
  justify-content: space-between;
  padding: 25px 44px;
}

.area-wrapper .area-quote {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: linear-gradient(140.88deg, #eb5231 -29.15%, #571fcf 151.64%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  color: white;
  flex: 1;
  padding-block: 33px;
  padding-inline-start: 36px;
  padding-inline-end: 26px;
  border-radius: 10px;
}
.area-wrapper .area-quote .quote-header {
  font-weight: 500;
  font-size: 25px;
  line-height: 32.13px;
  letter-spacing: 0%;
}
.area-wrapper .area-quote .quote-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}
.area-wrapper .area-quote .quote-author {
  font-weight: 400;
  font-size: 20px;
  line-height: 25.7px;
  letter-spacing: 0%;
  text-align: right;
}

.area-wrapper .area-arrival {
  flex: 2;
  display: flex;
  max-width: 800px;
  height: 250px;
  padding: 13px;
  box-sizing: content-box;
  align-items: center;
  border: 2px solid;
  border-color: rgba(220, 220, 220, 1);
  border-radius: 10px;
  position: relative;
}
.area-wrapper .area-arrival .arrival-header {
  position: absolute;
  background: linear-gradient(182.98deg, #eb5231 -4.09%, #571fcf 165.15%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 32.13px;
  letter-spacing: 0%;
  transform: rotate(-90deg);
  left: -110px;
  height: 60px;
  width: 280px;
  text-align: center;
  align-content: center;
  padding: 13px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.area-wrapper .area-arrival .arrival-list {
  display: flex;
  gap: 48px;
  margin-block: 13px;
  margin-inline-start: 95px;
  overflow-x: auto;
  padding: 5px;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
.area-wrapper .area-arrival .arrival-list .arrival-list-item {
  padding: 16px 22px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  min-width: 167px;
  min-height: 203px;
  border-radius: 10px;
}
.area-wrapper .area-arrival .arrival-list .arrival-list-item img {
  border: none;
}
