.app-content .app-main-navbar {
  width: 75%;
  display: flex;
  gap: 30px;
  padding: 38px 46px 24px 46px;
}

.app-content .app-main-navbar .nav-tab {
  display: flex;
  border-radius: 30px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  padding: 0 25px;
  align-items: center;
  gap: 10px;
  min-width: 170px;
  justify-content: center;
}

.app-content .app-main-navbar .nav-tab.dateTab {
  padding: 13px 55px;
  gap: 64px;
  min-width: 445px;
  flex: 2;
}

.app-content .app-main-navbar .nav-tab.dateTab .icon {
  color: var(--primary-1);
  font-size: 17px;
}

.app-content .app-main-navbar .nav-tab.filterTab {
  padding: 13px 25px;
  flex: 1;
}

.app-content .app-main-navbar .nav-tab.filterTab .icon {
  color: var(--primary-1);
}

.app-content .app-main-navbar .nav-tab.filterTab #searchLanguage {
  border: 0;
}

.app-content .app-main-navbar .nav-tab.searchTab {
  max-width: 541px;
  width: 100%;
  gap: 0;
  padding: 0;
  padding-right: 17px;
  position: relative;
  flex: 3;
}

.app-content .app-main-navbar .nav-tab.searchTab .icon {
  color: var(--primary-1);
  font-size: 17px;
  margin-left: 15px;
}

.app-content .app-main-navbar .nav-tab.searchTab #searchType {
  padding: 20px 15px 20px 37px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 25.7px;
  letter-spacing: 0;
  border: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background: rgba(247, 247, 250, 1);
  color: rgba(77, 77, 77, 1);
  position: relative;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
}

.app-content .app-main-navbar .nav-tab.searchTab #searchType:hover {
  outline: none;
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
}

.app-content .app-main-navbar .nav-tab.searchTab #searchInput {
  padding: 6px 20px 6px 21px;
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  line-height: 25.7px;
  letter-spacing: 0;
  outline: none;
  width: 100%;
  border: 0;
}

.app-content .app-main-navbar .nav-tab.searchTab #searchInput::placeholder {
  color: rgba(199, 199, 199, 1);
}
 
.selectBoxList {
  border: 1px solid rgba(221, 221, 221, 1);
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: fit-content;
  left: 1%;
  padding: 21px 18px;
  position: absolute;
  top: 100%;
  visibility: hidden;
  width: 100%;
  margin-block: 15px;
  background-color: white;
}


.selectBoxList.visible {
  visibility: visible;
}

.selectBoxList .selectBox-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 25.7px;
  letter-spacing: 0;
  color: rgba(77, 77, 77, 1);
}

.selectBoxList .selectBox-item label {
  display: block;
  width: 100%;
}

.selectBoxList .selectBox-item input {
  visibility: hidden;
}

.selectBoxList .selectBox-item .icon {
  margin-right: 15px;
}

.selectBoxList .selectBox-item:hover,
.selectBoxList .selectBox-item:hover label {
  cursor: pointer;
}

.selectBoxList .selectBox-item.active,
.selectBoxList .selectBox-item:hover {
  border-left: 3px solid orangered;
} */
